/****** Global Styles *********/

html, body {
	font: 16px/1.5 "Roboto", "Arial", sans-serif;
	font-weight: 300;
	overflow: auto;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*:before, *:after {
	box-sizing: inherit;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
	width: 80%;
	max-width: 1100px;
	margin: 0px auto;
	overflow: hidden;
} 

ul { list-style: none; }
a { text-decoration: none; }


/****** HEADER *********/

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	padding: 40px 0px;
	transition: all 0.4s ease-out;
}
	/****** Fixed Header *********/
	header.fixed {
	    background: #fff;
	    box-shadow: 0px 1px 5px #999;
	    padding: 0px;
	}

	header.fixed nav a {
	    color: #000;
	    padding: 20px 0px;
	    transition: border-bottom 0.3s;
	}

	header.fixed nav a:hover {
		border-bottom: 2px solid #000;
	}

header a.header_logo {
	opacity: 0;
	color: #000;
	text-decoration: none;
	float: left;
	transition: opacity 0.3s;
	margin-top: 15px;
}

header a.header_logo_show {
	opacity: 1;
}

header a.header_logo img {
	height: 40px;
	width: 40px;
	border-radius: 20px;
	float: left;
}

header a.header_logo p {
	line-height: 40px;
	padding-left: 50px;
	font-family: 'Lobster', cursive;
}

nav ul {
	float: right;
} 

nav ul li {
	float: left;
	margin-left: 30px;
}

nav ul li a {
	display: block;
	padding: 5px 0px;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	color: #fff;
	font-size: .97rem;
	font-weight: 300;
	transition: border-bottom 0.4s;
}

nav ul li a:hover {
	border-bottom: 2px solid #000;
}


div#banner { 	
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/banner2.jpg) no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: 0 -20px;
	height: 100vh;
	text-align: center;
}

div#banner figure {
	margin-top: 180px;
}

div#banner figure img {
	height: 175px;
	width: 175px;
	border: 3px solid #fff;
	border-radius: 50%;
}

div#banner figure figcaption {
	color: #fff;
	font-size: 1.33em;
}

div#banner .summary {
	font-size: 1.25em;
	margin: 45px 0px;
	color: #fff;
} 

div#banner a#resume {
	display: inline-block;
	color: #fff;
	padding: 15px 20px;
	text-decoration: none;
	border: 2px solid #fff;
	transition: background 0.4s;
}

div#banner a#resume:hover {
	background-color: #fff;
	color: #000;
}

div#banner a#resume i {
	margin-right: 5px;
}


/****** Main *********/
div.title {
	padding: 40px 0px;
	text-align: center;
	background-color: #F5F5F5;
}

div.title h2{
	margin-top: 10px;
	font-weight: 400;
}

main > section.container {
	overflow: visible;
	margin: 50px auto 40px;
	border: 1px solid #ddd;
	position: relative;
	padding: 30px;
}

main > section span {
	border: 1px solid #ddd;
	position: absolute;
	top: -12px;
	left: 25px;
	background-color: #fff;
	padding: 0px 10px;
}

main > section h2 { margin-bottom: 10px; }

main > section p { padding: 10px; }

main > section ul {
	padding-left: 25px;
	padding: 0;
}

main > section ul li { line-height: 30px; }

main > section ul li:before {
	content: "\2713";
	margin: 0 1em;
}

div#skills {
	background-color: #000;
	color: #fff;
}

div#skills div.skills_title {
	padding: 30px 0px;
	text-align: center;
}

div#skills div.skills_title h2 {
	font-weight: 300;	
}

div#skills div.skills_column {
  width: 50%;
  float: left;
}

div#skills div.skills_column div.progress {
	margin-bottom: 30px;
}

div#skills div.skills_column div.progress div.skill {
  text-align: center;
  display: inline-block;
  width: 19%;
  vertical-align: top;
}

div#skills div.skills_column div.progress_bar {
  display: inline-block;
  /*height: 15px;*/
  border: 2px solid #fff;	
  width: 80%;
  /*box-shadow: inset 0px 0px 3px #d0d0d0;*/
}

div#skills div.skills_column div.progress_bar span {
	height: 10px;
	display: block;
	background-color: #fff;
}

div#skills .other-skills {
	margin: 30px 0 10px;
	text-align: center;
}

div.my_projects {
	margin: 40px 0px;
}

div.my_projects a {
	display: block;
	width: 30%;
	margin: 1.66%;
	height: 200px;
	float: left;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	position: relative;
	backface-visibility: hidden;
}

div.my_projects a img {
	opacity: 1;
	width: 100%;
	height: auto;
}

div.my_projects div.project_description {
  	opacity: 0;
	color: #000;
	transition: opacity 0.5s ease;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	font-weight: 400;
}

div.my_projects div.project_description h3 {
	font-weight: 700;
  	margin-bottom: 0.5em;
  	text-transform: uppercase;
}

div.my_projects a:hover img {
	opacity: 0.3;
}

div.my_projects a:hover div.project_description {
	opacity: 1;
}

div.contact div.contact_info {
	text-align: center;
	float: left;
	width: 30%;
	margin: 70px 1.5%;
}

div.contact div.contact_me {
	text-align: center;
}

div.contact h2{
	display: inline-block;
	margin-top: 40px;
	position: relative;
	padding-bottom: 20px;
	font-weight: 300;
}

div.contact h2:after {
	display: block;
	content: " ";
	width: 70px;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 3px solid #000;
}

div.contact div.contact_info p {
	margin-top: 10px;
}

form {
	margin-bottom: 30px;
}

form .input_container, 
form .message {
	width: 49%;
}

form .input_container {
	float: left;
}

form .message {
	float: right;
}

form .form-control {
	background-color: #F5F5F5;
	outline: none;
	border: 1px solid Gainsboro;
	width: 100%;
	border-radius: 3px;
	transition: 0.3s;
	padding: 10px;
	margin-bottom: 10px;
}

form .message textarea{
	/*display: inline-block;*/
	height: 84px;
	margin: 0;
}

form input::placeholder, 
form textarea::placeholder {
	font: 15px 'Quicksand', sans-serif;
}

form .form-control:focus {
	background-color: #fff;
}

form input[type=submit] {
	float: right;
	color: #fff;
	background-color: #000;
	padding: 15px 20px;
	border: 2px solid #fff;
	cursor: pointer;
	transition: background 0.2s;
	margin-top: 10px;
}

form input[type=submit]:hover {
	background-color: #282828;
}

footer {
	background-color: #202020;
}

.footer_one {
	padding: 40px 0;
	color: #fff;
}

.footer_one h1 {
	font-weight: 300;
}

.footer_one a {
	color: #fff;
	margin-right: 10px;
	font-size: 2rem;
	opacity: 0.6;
	transition: all 0.2s linear;
}

.footer_one a:hover {
	opacity: 1;
}

.footer_one .linkedin:hover {
	color: #24739C;
}

.footer_two {
	text-align: center;
	background-color: #000;
	color: #fff;
	padding: 1em 0;
}


/*----------------------------------------------------------
------------------------------------------------------------
					Media Queries
------------------------------------------------------------
----------------------------------------------------------*/	

@media screen and (max-width: 965px) {

	body, html {
		font-size: 0.97em;
 	}

	header .header_logo {
		display: none;
	}

	nav ul {
		clear: left;
		float: none;
		width: 100%; 
	}

	nav ul li {
		width: 20%;
		text-align: center;
		margin: 0;
		padding: 10px 0px;
	}

	nav ul a:hover {
		border: none;
	}

	nav ul li a {
		display: inline;
	}

	div.my_projects a {
		width: 47%;
		margin: 1.5%;
	}
}

@media screen and (max-width: 818px) {

 	body, html {
		font-size: 0.95em;
 	}

	.container {
		width: 90%;
	}

	/*header a.header_logo {
		display: block;
		width: 138px;
		margin: 10px auto;
		float: none;
		text-align: center;
	}*/

	nav ul li a {
		font-size: .95rem;
	}
	

	div#banner figure img {
		width: 150px;
		height: 150px;
	}

	div#banner .summary {
		font-size: 1.1em;
		margin: 30px 0px;
	}

	main > section.container {
		padding: 15px;
		padding-top: 30px;
	}

	div.my_projects a img {
		height: auto;
	}

	div.contact div.contact_info{
		width: 100%;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}

	div.contact section:first-of-type {
		margin-top: 30px;
	}

	form div.input_container {
		width: 100%;
		float: none;
	}

	form div.message {
		width: 100%;
		float: none;
	}

	form input[type=submit] {
		width: 100%;
		margin-top: 5px;
		border: none;
	}

	footer {
		text-align: center;
	}
}





